@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Produkty";
}

<h2>Lista produktów</h2>

<table class="table table-bordered text-center">
@foreach (var item in Model.Products)
{
    @Html.Partial("ProductList", item)
}
</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

